/*All text: Arial, black, no underline, no bullets, default line spacing*/
* {
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    text-decoration: none;
    list-style: none;
    line-height: 1.6;
}

/*Project Management header at top: centered text, default size*/
h1 {
    text-align: center;
}

/*Sidebar headers on left: heavy font bold, larger font size, uppercase all chars, blue*/
h2 {
    font-weight: 900;
    font-size: larger;
    text-transform: uppercase;
    color:rgb(0, 50, 195);
}

/*Standards headers in middle: heavy font bold, 30px font size, centered, uppercase all chars */
h3 {
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

/*Standards steps titles under standards headers: heavy font bold, large font, orange*/
h4 {
    font-weight: 800;
    font-size: large;
    color:rgb(255, 170, 75);
}

/*Standards expenses and capital under standards headers: heavy font bold, large font, green*/
h5 {
    font-weight: 800;
    font-size: large;
    color:rgb(15, 160, 0);
}

/*Navigation box for header and footer: light blue, hide overflown text past box, center text, paddding inside box*/
nav {
    background-color: rgb(155, 205, 240);
    overflow: hidden;
    text-align: center;
    padding: 25px;
}

/*Navigation text for header and footer: padding between text, font bold, large font*/
nav a {
    padding-left: 8px;
    padding-right: 8px;
    font-weight: bold;
    font-size: large;
}

/*Class header: position stays when scrolling, at top, brought to front, top border*/
.header {
    position: sticky;
    top: 0px;
    z-index: 1;
    border-top: 10px solid white;
}

/*Class sidebar: fixed size, hide overflown text past sidebar, positioned left*/
.sidebar {
    width: 20%;
    overflow: hidden;
    float: left;
}

/*Class sidebar lines: padding between lines*/
.sidebar ul {
    padding-left: 50px;
}

/*Class standards: fixed size, overflown tepositioned right*/
.standards {
    width: 80%;
    float: right;
}

/*Class standards lines: padding on all sides, font large*/
.standards ul {
    padding-right: 150px;
    padding-top: 20px;
    padding-left: 20px;
    font-size: large;
    margin: 100px;
}

/*Class footer: not adjacent to any floating boxes, padding*/
.footer {
    clear: both;
    padding-bottom: 25px;
}

/*ID greybar: fixed position always on sceen, centered, bottom, white, heavy font bold, Monospace font, brought to front*/
#greybar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(210, 210, 210);
    font-size: 20px;
    font-weight: 900;
    font-family: monospace;
    z-index: 1;
}